<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PicViewer2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <PicViewer2._0.Properties.Settings>
            <setting name="MaxStartSize" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MinimumSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ScaleMultiplierUp" serializeAs="String">
                <value>1.09</value>
            </setting>
            <setting name="ScaleMultiplierDown" serializeAs="String">
                <value>0.91</value>
            </setting>
            <setting name="PenRByte" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="PenGByte" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PenBByte" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PenThickness" serializeAs="String">
                <value>6</value>
            </setting>
        </PicViewer2._0.Properties.Settings>
    </userSettings>
</configuration>
